{% extends 'projectnavbar.html' %}
{% load static %}
{% block title %}About{% endblock title %}


{% block main-content %}
<br/><br/><br/>
<div class="container mt-3">
    <br/>
    <h2 class="text-center">
        About Us
    </h2>
    <br/>
    <div class="row container">
    <p class="fs-4 text-center">
        Bookshop.org began as an idea to help support bookstores and their communities as more and more people are buying their books online. We saw an opportunity to create an alternative to Amazon for socially-conscious online shoppers. Amazon sells over 60% of all books in the US and is growing. That shift threatens the future of bookstores and will hurt readers, authors, and publishers who rely on a diverse, healthy ecosystem for books. We had a better idea — give readers the convenience of online shopping while supporting independent bookstores at the same time.

‍We launched in January of 2020, with just 88 bookstore partners and a team of four passionate book people.

As the COVID-19 pandemic surged, our growing platform helped our community of independent booksellers survive shutdowns. That spring, traffic to Bookshop.org hit 1 million users in a single day. By the end of 2020 we had grown to over 1,000 bookstores and distributed over ten million dollars in profits. Bookshop.org has since expanded internationally, launching in the UK and Spain.

78% of our customers said they regularly bought books from Amazon before they made the switch.
    </p>
        </div>
    <br/><br/>
    <h2 class="text-center">Mission</h2>
    <br/>
    <div class="row container">
        <p class="fs-4 text-center">
            Our mission is to provide quality but affordable books for education, entertainment, self-development and self-fulfillment; to all when the need arises by:

Providing a wide range of books to satisfy our clients
Exceeding our customers’ expectation in their book requirements
Making our books accessible in the market.
Acting as agents for both customers and publishers and working for their interest; enriching our client’s life in their quest for educational and entertaining books and advancing the cause of our publishers.
        </p>
    </div>
</div>
<br/><br/>
{% endblock main-content %}