{% extends 'projectnavbar.html' %}
{% load static %}
{% block title %}About{% endblock title %}


{% block main-content %}
<br/><br/><br/>
<div class="container mt-3">
<h2 class="text-center">
    Contact Us
</h2>
<br/>
<div class="col container">
    <p style="font-size: 20px; text-align: center; font-weight: bold;"><i class="fa-regular fa-address-book"></i>Address : KL Deemed to be Universiy, Greenfeilds, Vaddeswaram, Guntur,Andhra Pradesh</p>
    <p style="font-size: 20px; text-align: center; font-weight: bold;"><i class="fa-solid fa-envelope"></i>Email : uppadagiridhar510@gmail.com</p>
    <p style="font-size: 20px; text-align: center; font-weight: bold;"><i class="fa-solid fa-phone"></i>Phone Number : 8639204857</p>
</div>
</div>

<br/><br/>
{% endblock main-content %}