{% extends 'projectnavbar.html' %}
{% load static %}
{% block title %}Login {% endblock title %}

{% block main-content %}
<br/><br/><br/>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Login</h3>
            <hr>
            <form method="post" action="{% url 'login1' %}" novalidate class="shadow p-5">
                {% csrf_token %}
                {{ form.username.label_tag }} {{ form.username }}<small class="text-danger">{{ form.username.errors|striptags }}</small>
                <br>
                {{ form.password.label_tag }} {{ form.password }}<small class="text-danger">{{ form.password.errors|striptags }}</small>
                <br>
                <small><a href="{% url 'password_reset' %}">Forgot Password</a></small>
                <br>
                <input type="submit" class="btn btn-primary mt-4" value="Login">
                <div class="text-center text-primary fw-bold">
                    <small>New User? <a href="{% url 'customerragistration' %}" class="text-danger">Create an Account</a></small>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
