{% extends 'projectnavbar.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}

{% block main-content %}
<br/><br/><br/>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Completed</b></h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/J20kKsn88hYAkpPtHB" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/foodtribe-food-tribe-foodtrb-J20kKsn88hYAkpPtHB">via GIPHY</a></p>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>

{% endblock main-content %}